# Introduction to Python

    
Python language is very exhaustive language with numerous libraries supporting a wide variety of functionalities. We will cover a few of them related to data analysis and plotting in this module. This lecture presents some basic concepts of pythom to get you started. 


This lecture covers the basic topics in python:

## Basic Data types

The basic python datatypes are: 
- <strong> Numbers </strong>
    e.g. 7, 6798, 3.14, 0.008
- <strong> Strings </strong>
    e.g. "Python3", 'Cambridge', "Anglia Ruskin University"

Numbers can perform basic arithematic and can be again of two basic types:
- <strong> Integers </strong>
e.g. 3, 9688, 103847

- <strong> Floats </strong> with a decimal point. 
e.g. 0.000679, 2038.47

In [ ]:
1

In [ ]:
- 9.4

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

## Operators

There are different types of operators. 

### Arithematic operations 

Python can be used to perform the arithematic operations on the number data type. 
Following are the sample code for arithematic operations.

In [ ]:
8 + 11

In [ ]:
30 * 45

In [ ]:
56 ** 3

In [ ]:
83456437/324

In [ ]:
83456437 % 324

In [ ]:
3 + 4 * 3 + 45

In [ ]:
(3 + 4) * (3 + 45)

### Concatenation/Repetition Operation

The string data types can be concatenated in python with a "+" operator. Repetition can be performed with "*" operation.

In [ ]:
"John "+"Doe"

In [ ]:
"A"*3

In [ ]:
"A+3"

### Comparison Operators 

 
Python can work with the standard arithematic comparison operators as shown below. 
The main operators are:
- greater than ">"
- less than "<"
- equals "=="
- greater than or equal to ">="
- less than or equal to "<="

In [ ]:
# Greater than operator
34 > 54.5

In [ ]:
# Less than operator
45 < 3356

In [ ]:
# Can you compare strings - compares only the first characters.
"hot" > "cold"

In [ ]:
# Is python string case sensitive ? 
"bye" != "BYE"

In [ ]:
# Found strings that are equal.
"bye" == "bye"

In [ ]:
# Greater than or equal to.
11 >= 11

In [ ]:
# Less than or equal to.. 
111 <= 12

### Logic Operators

Used to combine two or more conditions. The common logic operators are: 
- "and" 
- "or"
- "not"

In [ ]:
# Example and operator
(112 > 2) and (212 < 3)

In [ ]:
# Example or operator
(211 > 2) or (2 < 123)

In [ ]:
# multiple conditions combined. 
(112 >= 223.56) or (211 <= 3) or (4 == 4)

In [ ]:
# multiple conditions combined. 
(112 >= 223.56) and not(4 == 4)

In [ ]:
# More not examples
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

## Variables

Variables are used to store values of the data. There is no data type specification needed for the python variable.

In [ ]:
#Variables cannot start with numbers or special characters and cannot contain spaces in between.
var_to_use = 2

In [ ]:
var1 = 23
var2 = 3.6

var1 * var2

In [ ]:
var1/var2

In [ ]:
city2 = "Cambridge"
my_school = "Anglia Ruskin University"
city2

## Print statement

Python code needs to use the print statement to print anything out of a python script. Note that the "out[]" keyword is not shown on the printed statements.

Here are some basic argument specifiers you should know:

%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

%x/%X - Integers in hex representation (lowercase/uppercase)

In [ ]:
print(3/5.6)

In [ ]:
print("Hello All!")

In [ ]:
# Concatenate strings in print()
first_name="James"
last_name="Larner"
print(first_name + last_name)

In [ ]:
# Concatenate datatypes including variables in print()
name = "James Larner"
print("Hello "+name)

In [ ]:
# Print variables using the format() method
name = "James Larner"
print("Hello {}".format (name))

In [ ]:
# Print mutliple datatype variable with format change to str() using simple concatenation
name = 'James'
age = 45
print("I am " + name + " and I am " + str(age) + " years old")

In [ ]:
# Print mutliple variables using the "%" method 
name = 'James'
age = 45
print("I am %s and I am %d years old" % (name, age))

In [ ]:
# Print mutliple datatype variables using the format() method
name = 'James'
age = 45
print("I am {} and I am {} years old".format(name,age))

In [ ]:
# Print mutliple variables using the format() method with out worrying about the order of occurence of the variable.
name = 'James'
age = 45
print("I am {n} and I am {a} years old".format(a=age, n=name))

In [ ]:
# Print mutliple variables using the f-string method with out worrying about the order of occurence of the variable.
name = 'James'
age = 45
print(f"I am {name} and I am {age} years old")

In [ ]:
# Different forms of print
pi_value=3.14
print("The value of pi is %s" % (pi_value))
print("The value of pi is {}" .format(pi_value))
print(f"The value of pi is {pi_value}")

<html> <h3 style="font-style:italic; color:#FF0000;"> Try Out: Use different forms of print statement and see how you can print any data type like integers, floats, strings.</h3> </html>

<html> <h3 style="font-style:italic; color:#FF0000;"> Try Out: Print pi_value as an integer, floating point and string. Notice the difference.</h3> </html>

<html> <h3 style="font-style:italic; color:#FF0000;"> Try Out: Write a format string which prints out the data using the following syntax: Hello John Doe. Your current balance is $53.44. Try out all the print options you have learned.</h3> </html>